.iconfont {
  font-size: inherit;
  display: inline;
  vertical-align: middle
}


.bg(blue, @primaryColor);
.bg(red, @wrongColor);
.bg(green, @successColor);
.bg(white, @whiteColor);
.bg(transparent, transparent);

.fc(blue, @primaryColor);
.fc(black, @blackColor);
.fc(white, @whiteColor);
.fc(grey, @greyColor);
.fc(lightGrey, @lightGreyColor);

.fs(12);
.fs(14);
.fs(16);


.border-c(blue, @primaryColor);
.border-c(red, @wrongColor);
.border-c(green, @successColor);
.border-c(white, @whiteColor);
.border-c(grey, @greyColor);

.createFs(20);

.padding(6, 15, 6, 15);
.padding(4, 15, 4, 15);
.padding(0, 7, 0, 7);
.padding-one(5);

.margin-one(5);


.no-border {
  border: none !important;
}

.ell {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

.br {
  border: 1px solid;
  border-color: inherit;
}
.brl {
  border-left: 1px solid;
  border-color: inherit;
}
.brr {
  border-right: 1px solid;
  border-color: inherit;
}
.brt {
  border-top: 1px solid;
  border-color: inherit;
}
.brb {
  border-bottom: 1px solid;
  border-color: inherit;
}

.cus-point {
  cursor: pointer;
}
.flex-v-b {
  display: flex;
  align-items: baseline;
}